/* ============================================================== *
 * Utility Menu Colors                                            *
 * ============================================================== */
$utility__background: #eaeaea;
$utility__social__static-color: #aaaaaa;
$utility__social__hover-color: #5e6a71;
$utility__menu__static-color: #aaaaaa;
$utility__menu__hover-color: #5e6a71;
$utility__menu__font: inherit;
$utility__menu__font-size: inherit;
$utility__menu__text-transform: none;
$utility__menu__font-weight: normal;
$utility__search__background: #e0e0e0;
$utility__search__color: #aaaaaa;
/* ============================================================== *
 * Primary Navigation Colors                                      *
 * ============================================================== */
$primary__background: #f8f8f8;
$primary__nav__color-static: #aaaaaa;
$primary__nav__color-hover: #5e6a71;
$primary__nav__font: inherit;
$primary__nav__font-size: inherit;
$primary__nav__text-transform: none;
$primary__nav__font-weight: normal;
$primary__sub-menu__background-static: black;
$primary__sub-menu__font: inherit;
$primary__sub-menu__font-size: inherit;
$primary__sub-menu__text-transform: none;
$primary__sub-menu__font-weight: normal;
$primary__sub-menu__background-hover: #eee;
/* ============================================================== *
 * Mobile Menu Colors                                             *
 * ============================================================== */
$mobile-menu__background: #eee;
$mobile-menu__nav__color-static: #aaaaaa;
$mobile-menu__nav__color-hover: #5e6a71;
$mobile-menu__nav__font: inherit;
$mobile-menu__nav__font-size: inherit;
$mobile-menu__nav__font-weight: normal;
$mobile-menu__nav__text-transform: none;
/* ============================================================== */

#header {
  * {
    transition: $transition;
  }
  #utility-menu {
    background: $utility__background;
    ul {
      margin-bottom: 0;
      li {
        font-family: $utility__menu__font;
        font-size: $utility__menu__font-size;
        text-transform: $utility__menu__text-transform;
        font-weight: $utility__menu__font-weight;
      }
    }
    #socials {
      padding: 5px 0;
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
          a {
            color: $utility__social__static-color;
            padding: 0 10px;
            &:hover {
              color: $utility__social__hover-color;
            }
          }
        }
      }
    }
    #right-side {
    }
    #utility {
      @include phone {
        display: none;
      }
      padding: 5px 0;
      ul {
        margin-right: 10px;
        list-style: none;
        li a {
          text-decoration: none;
          color: $utility__menu__static-color;
          padding: 0 10px;
          &:hover {
            color: $utility__menu__hover-color;
          }
        }
      }
    }
    form {
      input {
        @include phone {
          max-width: 150px;
        }
        background: $utility__search__background;
        border: none;
        padding: 5px 20px;
        color: $utility__search__color;
        &::placeholder {
          color: $utility__search__color;
        }
      }
    }
  }

  #primary-nav {
    position: relative;
    background: $primary__background;
    padding: 15px 0;
    .site-logo {
      max-width: 20%;
      @include phone {
        max-width: 50%;
      }
      object-fit: contain;
      max-height: 55px;
    }
    #primary {
      @include phone {
        display: none;
      }
      width: 100%;
      ul {
        list-style: none;
        &:not(.sub-menu) {
          height: 100%;
          margin-bottom: 0;
        }
        li {
          font-family: $primary__nav__font;
          font-size: $primary__nav__font-size;
          text-transform: $primary__nav__text-transform;
          font-weight: $primary__nav__font-weight;
          position: relative;
          .sub-menu {
            z-index: 3;
            &.hidden {
              display: none;
            }
            position: absolute;
            width: 150px;
            background: $primary__sub-menu__background-static;
            margin-top: 5px;
            padding: 10px 0;
            a {
              width: 100%;
              display: block;
              padding: 10px 20px;
              line-height: 10px;
              margin: 5px 0;
              background: $primary__sub-menu__background-static;
              font-family: $primary__sub-menu__font;
              font-size: $primary__sub-menu__font-size;
              text-transform: $primary__sub-menu__text-transform;
              font-weight: $primary__sub-menu__font-weight;
              &:hover {
                background: $primary__sub-menu__background-hover;
              }
              li {
                padding: 0 20px;
              }
            }
          }
          a {
            color: $primary__nav__color-static;
            padding: 0 20px;
            @include small {
              padding: 0 10px;
            }
            padding-bottom: 15px;
            text-decoration: none;
            &:hover {
              color: $primary__nav__color-hover;
            }
          }
        }
      }
    }
    #mobile-nav {
      z-index: 4;
      display: none;
      @include phone {
        display: block;
      }
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
    #mobile-menu {
      &,
      * {
        z-index: 3;
      }
      background: $mobile-menu__background;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      &.hidden {
        opacity: 0;
        right: -100vw;
      }
      &:not(.hidden) {
        opacity: 1;
        right: 0;
      }
      ul {
        list-style: none;
        &:not(.sub-menu) {
          width: 100%;
          padding-right: 75px;
          li {
            margin: 15px 0;
          }
        }
        text-align: right;
        a {
          font-family: $mobile-menu__nav__font;
          font-size: $mobile-menu__nav__font-size;
          text-transform: $mobile-menu__nav__text-transform;
          font-weight: $mobile-menu__nav__font-weight;
          color: $mobile-menu__nav__color-static;
          padding: 0 10px;
          text-decoration: none;
          &:hover {
            color: $mobile-menu__nav__color-hover;
          }
        }
        &.sub-menu {
          position: relative;
          left: 15px;
        }
      }
    }
  }
}
