@import "bootstrap";
@import "hamburgers/_sass/hamburgers/hamburgers.scss";
$fa-font-path: "@fortawesome/fontawesome-pro/webfonts";
@import "@fortawesome/fontawesome-pro/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-pro/scss/solid.scss";
@import "@fortawesome/fontawesome-pro/scss/brands.scss";

@mixin large {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 1199px) and (min-width: 992px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 991px) and (min-width: 769px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 768px) {
    @content;
  }
}

$transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);

.btn {
  background: white;
  border-radius: 0;
  &:hover {
    background: #eee;
  }
}

@import "./navbar";
@import "./large-carousel";
@import "./quickhit";
@import "./pathways";
@import "./offers";
@import "./seo-section";
